<?xml version="1.0" encoding="UTF-8"?>
<!-- Configure File -->

<config>
    <cwb-ftp>
        <host>ftpsv.cwb.gov.tw</host>
        <port>21</port>
        <username>anonymous</username>
        <password>none</password>
        <timeout description="in millisecond">5000</timeout>
        <logFile>./output/log/ftp.log</logFile>
        <localPath description="local path to save">./output/ftp-data/</localPath>
        <isLocalPassiveMode description="[yes|no], set 'yes' in IIS or NCTU environment">yes</isLocalPassiveMode>
    </cwb-ftp>
    <generate-rdf>
        <rootPath>./output/ftp-data/</rootPath>
        <outputPath>./output/rdf/</outputPath>
        <fileName description="prefix file name">generated</fileName>
    </generate-rdf>
</config>

